.flip-container {
  perspective: 52.083vw;
}
/* flip the pane when hovered */
.flip-container-hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(var(--animation-time));
}

.flip-container,
.front,
.back {
  width: 16.667vw;
  height: 25vw;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
