@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.AuthButton {
  box-sizing: border-box;

  position: absolute;
  left: 71.354vw;
  top: 6.146vw;

  border: 0.052vw solid #F7931E;
  border-radius: 0.521vw;
  filter: drop-shadow(0.208vw 0.208vw 0.521vw rgba(255, 201, 64, 0.5));

  width: 15.625vw;
  height: 3.385vw;
  background: black;

  font-style: normal;
  font-weight: 400;
  font-size: 1.250vw;
  line-height: 1.510vw;

  color: #FFFFFF;
}

.UserBlock {
  position: absolute;
  width: 37.500vw;
  height: 3.385vw;
  left: 59.375vw;
  top: 6.146vw;

}

.ChainsChoose {
  box-sizing: border-box;

  position: absolute;
  width: 15.625vw;
  height: 3.385vw;

  background: black;

  border: 0.052vw solid #F7931E;
  filter: drop-shadow(0.208vw 0.208vw 0.521vw rgba(255, 201, 64, 0.5));
  border-radius: 0.521vw;
}

.DropDownChains {
  width: 15.625vw;
  height: 3.385vw;
  background: black;
  border: 0.052vw solid #F7931E;
  border-radius: 0.521vw;
}

.anticon-down {
  width: 27px;
  height: 16px;
  color: white;
}

.NativeBalance {
  position: absolute;
  width: 3.646vw;
  height: 1.510vw;
  left: 16.927vw;
  top: 0.938vw;

  font-style: normal;
  font-weight: 400;
  font-size: 1.250vw;
  line-height: 1.510vw;

  color: #FFFFFF;
}

.accountAddress {
  position: absolute;
  width: 10.417vw;
  height: 3.385vw;
  left: 27.083vw;

  background: #0A0A0A;
  border-radius: 0.521vw;
}

.accountAddress p {
  position: absolute;
  width: 8.542vw;
  height: 1.510vw;
  left: 1.042vw;
  top: 0.938vw;

  font-style: normal;
  font-weight: 400;
  font-size: 1.250vw;
  line-height: 1.510vw;

  color: #F7931E;
}

.ChainName {
  position: absolute;
  width: 5vw;
  height: 1.510vw;
  left: 4.271vw;
  top: 0.938vw;

  font-style: normal;
  font-weight: 400;
  font-size: 1.250vw;
  line-height: 1.510vw;

  color: #FFFFFF;
}

.ChainName:focus {
  position: absolute;
  width: 5vw;
  height: 1.510vw;
  left: 4.271vw;
  top: 0.938vw;
}

.DropDownChains svg {
  position: absolute;
  width: 2.448vw;
  height: 2.448vw;
  left: 1.042vw;
  top: 0.469vw;
}

.DropDownChains:hover {
  background: black;
  border: 1px solid #F7931E;
}

.DropDownChains:focus {
  background: black;
  border: 1px solid #F7931E;
}

.coin {
  position: absolute;
  width: 13.750vw;
  height: 13.750vw;

  left: 43.125vw;
  top: 5.625vw;
  transition: transform 1000ms ease;
}

.coinWork {
  transform: translateY(-3.229vw);
}

.CreateGameButton, .FindGameButton {
  position: absolute;
  width: 23.958vw;
  height: 5.208vw;
  background: #F7931E;
  box-shadow: 0.208vw 0.208vw 0.521vw rgba(255, 201, 64, 0.25), inset 0.521vw 0.521vw 1.042vw #FFC940;
  border-radius: 0.781vw;

  font-style: normal;
  font-weight: 700;
  font-size: 1.875vw;
  line-height: 2.292vw;

  text-transform: uppercase;

  color: #FFFFFF;

  left: 38.021vw;
  top: 25.573vw;
}

.FindGameButton {
  top: 31.927vw;
}

#statusBlock {
  position: absolute;
  width: 19.375vw;

  left: 40.625vw;
  top: 16.198vw;

  font-style: normal;
  font-weight: 400;
  font-size: 1.302vw;
  line-height: 1.563vw;

  color: #d0d0cf;
  text-align: center;
}

.line1 {
  position: absolute;
  width: 51.094vw;
  height: 0px;
  left: 24.479vw;
  top: 21.615vw;

  border: 0.052vw solid #6c6661;
  transform: rotate(-0.12deg);
  transition: transform 500ms ease;
}

.line2 {
  position: absolute;
  width: 51.094vw;
  height: 0px;
  left: 24.479vw;
  top: 32.813vw;

  border: 0.052vw solid #6c6661;
  transform: rotate(-0.12deg);
  transition: transform 500ms ease;
}

.gameIcon {
  position: absolute;
  width: 4.167vw;
  height: 5vw;
  left: 3.125vw;
  top: 4.688vw;
}

#play {
  position: absolute;
  width: 23.958vw;
  height: 5.208vw;
  left: 38.021vw;
  top: 41.667vw;

  background: #f7931e;
  box-shadow: 0.208vw 0.208vw 0.521vw rgba(255, 201, 64, 0.25),
    inset 0.521vw 0.521vw 1.042vw #ffc940;
  border-radius: 0.781vw;

  font-style: normal;
  font-weight: 700;
  font-size: 1.875vw;
  line-height: 0.885vw;
  text-transform: uppercase;
  color: #ffffff;
}

.ScrollableNft::-webkit-scrollbar,
.ScrollableOffers::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.ScrollableNft,
.ScrollableOffers {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nftsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  width: 100vw;
  height: 10.417vw;
  top: 21.615vw;
  margin: auto;

  vertical-align: middle;
  justify-content: center;
}

.NftItem {
  width: 7.813vw;
  height: 7.813vw;

  min-width: 6.510vw;
  min-height: 6.510vw;

  max-height: 7.813vw;
  max-width: 7.813vw;

  margin-left: 0.521vw;
  transition: transform 500ms ease;
  margin-top: 2.083vw;
}

.NftItem img {
  width: 6.510vw;
  height: 6.510vw;

  border: 0.104vw solid #6c6661;
  box-sizing: border-box;
  box-shadow: -0.521vw 0.208vw 1.302vw rgba(31, 31, 31, 0.6);
  border-radius: 1.042vw;
  background-size: contain;
}

.NftItem:last-child {
  margin-right: 10px;
}

.ScrollableNft {
  height: 12.1vw;

  display: flex;
  flex-direction: row;

  cursor: pointer;
  overflow-x: scroll;
}

.NftItemSelected {
  transform: scale(1.5) translateY(0.156vw);
  margin-right: 1.563vw;
  margin-left: 2.188vw;
}

.line1SelectedNft {
  transform: translateY(-1.042vw);
}

.line2SelectedNft {
  transform: translateY(1.042vw);
}

.line1SelectedNft2 {
  transform: translateY(-3.281vw);
}

.line2SelectedNft2 {
  transform: translateY(3.281vw);
}

.hidden {
  display: none;
}

.Player1BlockWait, .Player2BlockWait {
  box-sizing: border-box;

  position: absolute;
  width: 355px;
  height: 405px;
  left: 212px;
  top: 410px;

  border: 1px solid #F7931E;
  border-radius: 20px;
}

.PlayerBlockWaitText{
  position: absolute;
  width: 130px;
  height: 34px;
  left: 128px;
  top: 23px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #D0D0CF;
}

.PlayerBlockWaitImage {
  box-sizing: border-box;

  position: absolute;
  width: 299px;
  height: 296px;
  left: 28px;
  top: 81px;

  border: 1px solid #6C6661;
  border-radius: 20px;
}

.Player2BlockWait {
  left: 1353px;
  top: 410px;
}

.CancelOfferBlockWait {
  position: absolute;
  width: 500px;
  height: 120px;
  left: 710px;
  top: 800px;

  background: #F7931E;
  box-shadow: 4px 4px 10px rgba(255, 201, 64, 0.25), inset 10px 10px 20px #FFC940;
  border-radius: 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.TopBlockGR {
  position: absolute;
  width: 976px;
  height: 81px;
  left: 472px;
  top: -20px;
}

.CoinBackgroundGR {
  position: absolute;
  width: 568px;
  height: 583px;
  left: 688px;
  top: 177px;
}

.Player1CardGR, .Player2CardGR {
  box-sizing: border-box;

  position: absolute;
  width: 355px;
  height: 405px;
  left: 167px;
  top: 268px;

  border: 1px solid #F7931E;
  border-radius: 20px;
}

.Player2CardGR {
  left: 1446px;
  top: 269px;
}

.PlayerTextGR{
  position: absolute;
  width: 130px;
  height: 34px;
  left: 120px;
  top: 23px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #D0D0CF;
}

.BottomBlockGR {
  position: absolute;
  width: 829px;
  height: 50px;
  left: 545px;
  top: 895px;
}

.BottomBlockGR img {
  transform: scale(1, -1);
}

.PlayerImageGR{
  box-sizing: border-box;

  position: absolute;
  width: 299px;
  height: 296px;
  left: 28px;
  top: 81px;

  border: 1px solid #6C6661;
  border-radius: 20px;
}

.Player1HashGR, .Player2HashGR {
  box-sizing: border-box;

  position: absolute;
  width: 355px;
  height: 102px;
  left: 167px;
  top: 711px;

  border: 1px solid #F7931E;
  border-radius: 30px;
}

.Player2HashGR {
  left: 1446px;
  top: 711px;
}

.Player1HashGR p, .Player2HashGR p {
  position: absolute;
  width: 267px;
  height: 34px;
  left: 10px;
  top: 35px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #D0D0CF;

  justify-content: center;
}

#CoinFlip {
  position: absolute;
  width: 327px;
  height: 326px;
  left: 810px;
  top: 307px;
}

.CurrentBlockTBGR {
  position: absolute;
  width: 315px;
  height: 29px;
  left: 61px;
  top: 21px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #D0D0CF;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.PositionTBGR {
  position: absolute;
  width: 300px;
  height: 29px;
  left: 427px;
  top: 21px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #D0D0CF;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.GameHashBBGR {
  position: absolute;
  width: 758px;
  height: 29px;
  left: 35px;
  top: 17px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 29px;

  color: #D0D0CF;
}

.yellowForHash {
  color: #F7931E;
}

.GameBlockTBGR {
  position: absolute;
  width: 315px;
  height: 29px;
  left: 642px;
  top: 21px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #D0D0CF;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.ClaimWinningsGR{
  position: absolute;
  width: 355px;
  height: 69px;
  left: 167px;
  top: 841px;

  background: #F7931E;
  box-shadow: 4px 4px 10px rgba(255, 201, 64, 0.25), inset 10px 10px 20px #FFC940;
  border-radius: 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;

  color: #FFFFFF;

}

.NftNotSelected {
  position: absolute;
  width: 400px;
  height: 150px;
  left: 1308px;
  top: 95px;

  background: #F71E1E;
  border-radius: 10px;
}

.NftNotSelected p {
  position: absolute;
  width: 307px;
  height: 78px;
  left: 47px;
  top: 36px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;

  color: #FFFFFF;
}

.Winner1TextGR, .Winner2TextGR{
  position: absolute;
  width: 98px;
  height: 29px;
  left: 301px;
  top: 218px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-transform: uppercase;

  /* button */

  color: #F7931E;
}

.Winner2TextGR{
  left: 1570px;
  right: 0px;
}

.VsTextOnBlockWait {
  position: absolute;
  width: 135px;
  height: 116px;
  left: 893px;
  top: 566px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;

  color: #FFFFFF;
}

.offersContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  width: 51.042vw;
  height: 16.667vw;
  top: 19.792vw;
  vertical-align: middle;
  margin: 0 6.510vw 0 24.479vw;
  justify-content: center;
}

.offerItem {
  width: 11.094vw;
  height: 15.208vw;

  min-width: 11.094vw;
  min-height: 15.208vw;

  background: rgba(108, 102, 97, 0.1);

  border: 0.052vw solid #f7931e;
  box-sizing: border-box;
  border-radius: 1.042vw;
  margin-right: 1.563vw;
}

.offerItemSelected {
  width: 11.094vw;
  height: 15.208vw;

  min-width: 11.094vw;
  min-height: 15.208vw;

  background: rgba(108, 102, 97, 0.1);

  border: 0.052vw solid green;
  box-sizing: border-box;
  border-radius: 1.042vw;
  margin-right: 1.563vw;
}

.offerItemSelected img {
  width: 9.948vw;
  height: 8.906vw;
  margin-left: 0.521vw;
  margin-top: 1.719vw;

  border: 0.052vw solid #6c6661;
  box-sizing: border-box;
  border-radius: 1.042vw;
}

.ScrollableOffers {
  height: 16.667vw;

  display: flex;
  flex-direction: row;

  cursor: pointer;
  overflow-x: scroll;
}

.offerItem img {
  width: 9.948vw;
  height: 8.906vw;
  margin-left: 0.521vw;
  margin-top: 1.719vw;

  border: 0.052vw solid #6c6661;
  box-sizing: border-box;
  border-radius: 1.042vw;
}

.offerNftName {
  width: 3.177vw;
  height: 0.625vw;
  margin-left: 0.781vw;
  margin-top: 0.521vw;

  font-style: normal;
  font-weight: 700;
  font-size: 0.521vw;
  line-height: 0.625vw;

  /* text in a player card */

  color: #b7b2b1;
}

.bottomOfferBlock {
  display: flex;
  width: 10.990vw;
  height: 1.823vw;
  margin-top: 1.510vw;

  background: #000000;
  border-radius: 0 0 1.042vw 1.042vw;
}

.bottomOfferBlockItem {
  width: 1.510vw;
  height: 0.625vw;

  margin-left: 0.781vw;
  margin-top: 0.625vw;

  font-style: normal;
  font-weight: 700;
  font-size: 0.521vw;
  line-height: 0.625vw;
  text-transform: uppercase;

  /* text in a player card */

  color: #b7b2b1;
}

.bottomOfferBlockNickname {
  margin-left: 4.688vw;
  margin-top: 0.573vw;

  font-style: normal;
  font-weight: 700;
  font-size: 0.521vw;
  line-height: 0.625vw;

  /* text in a player card */

  color: #b7b2b1;
}

.GameWindowStart {
}