@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

#root {
  min-height: 947px;
  height: 1px;
}

.background {
  height: 100%;
  max-width: 1920px;
  background-color: black;
}

.AuthButton {
  box-sizing: border-box;

  position: absolute;
  left: 71.35%;
  right: 13.02%;
  top: 10.93%;
  bottom: 83.06%;

  border: 1px solid #F7931E;
  border-radius: 10px;
  filter: drop-shadow(4px 4px 10px rgba(255, 201, 64, 0.5));

  width: 300px;
  height: 65px;
  background: black;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #FFFFFF;
}

.UserBlock {
  position: absolute;
  width: 720px;
  height: 65px;
  left: 59.3%;
  top: 118px;

}

.ChainsChoose {
  box-sizing: border-box;

  position: absolute;
  left: 0%;
  right: 58.33%;
  top: 0%;
  bottom: 0%;

  background: black;

  border: 1px solid #F7931E;
  filter: drop-shadow(4px 4px 10px rgba(255, 201, 64, 0.5));
  border-radius: 10px;
}

.DropDownChains {
  width: 100%;
  height: 65px;
  background: black;
  border: 1px solid #F7931E;
  border-radius: 10px;
}

.anticon-down {
  width: 27px;
  height: 16px;
  color: white;
}

.NativeBalance {
  position: absolute;
  width: 70px;
  height: 29px;
  left: 325px;
  top: 18px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #FFFFFF;
}

.accountAddress {
  position: absolute;
  width: 200px;
  height: 65px;
  left: 520px;
  top: 0px;

  background: #0A0A0A;
  border-radius: 10px;
}

.accountAddress p {
  position: absolute;
  width: 164px;
  height: 29px;
  left: 20px;
  top: 18px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #F7931E;
}

.ChainName {
  position: absolute;
  width: 96px;
  height: 29px;
  left: 82px;
  top: 18px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #FFFFFF;
}

.ChainName:focus {
  position: absolute;
  width: 96px;
  height: 29px;
  left: 82px;
  top: 18px;
}

.DropDownChains svg {
  position: absolute;
  width: 47px;
  height: 47px;
  left: 20px;
  top: 9px;
}

.DropDownChains:hover {
  background: black;
  border: 1px solid #F7931E;
}

.DropDownChains:focus {
  background: black;
  border: 1px solid #F7931E;
}

.coin {
  position: absolute;
  width: 264px;
  height: 264px;

  left: 43.12%;
  right: 43.12%;
  top: 3.7%;
  bottom: 71.85%;
}

.CreateGameButton, .FindGameButton {
  position: absolute;
  width: 460px;
  height: 100px;
  background: #F7931E;
  box-shadow: 4px 4px 10px rgba(255, 201, 64, 0.25), inset 10px 10px 20px #FFC940;
  border-radius: 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  text-transform: uppercase;

  color: #FFFFFF;

  bottom: 54.95%;
  left: 38%;
}

.FindGameButton {
  bottom: 43%;
  left: 38%;
}

#statusBlock {
  position: absolute;
  width: 372px;
  height: 30px;
  left: 780px;
  top: 311px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  color: #d0d0cf;
  text-align: center;
}

.line1 {
  position: absolute;
  width: 981px;
  height: 0px;
  left: 470px;
  top: 415px;

  border: 1px solid #6c6661;
  transform: rotate(-0.12deg);
  transition: transform 500ms ease;
}

.line2 {
  position: absolute;
  width: 981px;
  height: 0px;
  left: 470px;
  top: 630px;

  border: 1px solid #6c6661;
  transform: rotate(-0.12deg);
  transition: transform 500ms ease;
}

.gameIcon {
  position: absolute;
  width: 80px;
  height: 96px;
  left: 3.12%;
  right: 92.71%;
  top: 8.33%;
}

#play {
  position: absolute;
  width: 460px;
  height: 100px;
  left: 730px;
  top: 800px;

  background: #f7931e;
  box-shadow: 4px 4px 10px rgba(255, 201, 64, 0.25),
    inset 10px 10px 20px #ffc940;
  border-radius: 15px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

.ScrollableNft::-webkit-scrollbar,
.ScrollableOffers::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.ScrollableNft,
.ScrollableOffers {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nftsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  width: 1920px;
  height: 200px;
  top: 415px;
  margin: auto;

  vertical-align: middle;
  justify-content: center;
}

.NftItem {
  width: 150px;
  height: 150px;

  min-width: 125px;
  min-height: 125px;

  max-height: 150px;
  max-width: 150px;

  margin-left: 10px;
  transition: transform 500ms ease;
  margin-top: 40px;
}

.NftItem img {
  width: 125px;
  height: 125px;

  border: 1px solid #6c6661;
  box-sizing: border-box;
  box-shadow: -10px 4px 25px rgba(31, 31, 31, 0.6);
  border-radius: 20px;
}

.NftItem:last-child {
  margin-right: 10px;
}

.ScrollableNft {
  height: 215px;

  display: flex;
  flex-direction: row;

  cursor: pointer;
  overflow-x: scroll;
}

.NftItemSelected {
  transform: scale(1.5) translateY(3px);
  margin-right: 30px;
  margin-left: 42px;
}

.line1SelectedNft {
  transform: translateY(-20px);
}

.line2SelectedNft {
  transform: translateY(20px);
}

.line1SelectedNft2 {
  transform: translateY(-63px);
}

.line2SelectedNft2 {
  transform: translateY(63px);
}

.hidden {
  display: none;
}

.Player1BlockWait, .Player2BlockWait {
  box-sizing: border-box;

  position: absolute;
  width: 355px;
  height: 405px;
  left: 212px;
  top: 410px;

  border: 1px solid #F7931E;
  border-radius: 20px;
}

.PlayerBlockWaitText{
  position: absolute;
  width: 130px;
  height: 34px;
  left: 128px;
  top: 23px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #D0D0CF;
}

.PlayerBlockWaitImage {
  box-sizing: border-box;

  position: absolute;
  width: 299px;
  height: 296px;
  left: 28px;
  top: 81px;

  border: 1px solid #6C6661;
  border-radius: 20px;
}

.Player2BlockWait {
  left: 1353px;
  top: 410px;
}

.CancelOfferBlockWait {
  position: absolute;
  width: 500px;
  height: 120px;
  left: 710px;
  top: 800px;

  background: #F7931E;
  box-shadow: 4px 4px 10px rgba(255, 201, 64, 0.25), inset 10px 10px 20px #FFC940;
  border-radius: 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.TopBlockGR {
  position: absolute;
  width: 976px;
  height: 81px;
  left: 472px;
  top: -20px;
}

.CoinBackgroundGR {
  position: absolute;
  width: 568px;
  height: 583px;
  left: 688px;
  top: 177px;
}

.Player1CardGR, .Player2CardGR {
  box-sizing: border-box;

  position: absolute;
  width: 355px;
  height: 405px;
  left: 167px;
  top: 268px;

  border: 1px solid #F7931E;
  border-radius: 20px;
}

.Player2CardGR {
  left: 1446px;
  top: 269px;
}

.PlayerTextGR{
  position: absolute;
  width: 130px;
  height: 34px;
  left: 120px;
  top: 23px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #D0D0CF;
}

.BottomBlockGR {
  position: absolute;
  width: 829px;
  height: 50px;
  left: 545px;
  top: 895px;
}

.BottomBlockGR img {
  transform: scale(1, -1);
}

.PlayerImageGR{
  box-sizing: border-box;

  position: absolute;
  width: 299px;
  height: 296px;
  left: 28px;
  top: 81px;

  border: 1px solid #6C6661;
  border-radius: 20px;
}

.ClaimWinningsGR{
  position: absolute;
  width: 355px;
  height: 69px;
  left: 167px;
  top: 811px;

  background: #F7931E;
  box-shadow: 4px 4px 10px rgba(255, 201, 64, 0.25), inset 10px 10px 20px #FFC940;
  border-radius: 15px;
}

.NftNotSelected {
  position: absolute;
  width: 400px;
  height: 150px;
  left: 1308px;
  top: 95px;

  background: #F71E1E;
  border-radius: 10px;
}

.NftNotSelected p {
  position: absolute;
  width: 307px;
  height: 78px;
  left: 47px;
  top: 36px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;

  color: #FFFFFF;
}

.Winner1TextGR, .Winner2TextGR{
  position: absolute;
  width: 98px;
  height: 29px;
  left: 301px;
  top: 218px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-transform: uppercase;

  /* button */

  color: #F7931E;
}

.Winner2TextGR{
  left: 1570px;
  right: 0px;
}

.VsTextOnBlockWait {
  position: absolute;
  width: 135px;
  height: 116px;
  left: 893px;
  top: 566px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;

  color: #FFFFFF;
}

.offersContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  width: 980px;
  height: 320px;
  top: 380px;
  vertical-align: middle;
  margin: 0px 125px 0 470px;
  justify-content: center;
}

.offerItem {
  width: 213px;
  height: 292px;

  min-width: 213px;
  min-height: 292px;

  background: rgba(108, 102, 97, 0.1);

  border: 1px solid #f7931e;
  box-sizing: border-box;
  border-radius: 20px;
  margin-right: 30px;
}

.offerItemSelected {
  width: 213px;
  height: 292px;

  min-width: 213px;
  min-height: 292px;

  background: rgba(108, 102, 97, 0.1);

  border: 1px solid green;
  box-sizing: border-box;
  border-radius: 20px;
  margin-right: 30px;
}

.offerItemSelected img {
  width: 191px;
  height: 171px;
  margin-left: 10px;
  margin-top: 33px;

  border: 1px solid #6c6661;
  box-sizing: border-box;
  border-radius: 20px;
}

.ScrollableOffers {
  height: 320px;

  display: flex;
  flex-direction: row;

  cursor: pointer;
  overflow-x: scroll;
}

.offerItem img {
  width: 191px;
  height: 171px;
  margin-left: 10px;
  margin-top: 33px;

  border: 1px solid #6c6661;
  box-sizing: border-box;
  border-radius: 20px;
}

.offerNftName {
  width: 61px;
  height: 12px;
  margin-left: 15px;
  margin-top: 10px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;

  /* text in a player card */

  color: #b7b2b1;
}

.bottomOfferBlock {
  display: flex;
  width: 211px;
  height: 35px;
  margin-top: 29px;

  background: #000000;
  border-radius: 0px 0px 20px 20px;
}

.bottomOfferBlockItem {
  width: 29px;
  height: 12px;

  margin-left: 15px;
  margin-top: 12px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;

  /* text in a player card */

  color: #b7b2b1;
}

.bottomOfferBlockNickname {
  margin-left: 90px;
  margin-top: 11px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;

  /* text in a player card */

  color: #b7b2b1;
}

.GameWindowStart {
}